{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>{{ restaurant.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
		</h1>

	</div>
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	
	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

</div>

<div class="row padding-top padding-bottom">
	<div class="col-md-1"></div>
	<div class="col-md-10 padding-none">
		<a href="{{url_for('createMenuItem', restaurant_id = restaurant.id) }}">
			<button class="btn btn-default" id="new-restaurant">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>New Menu Item
			</button>
		</a>
	</div>
	<div class="col-md-1"></div>
</div>


{% for i in items %}

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h2>Name: {{i.name}}</h2>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h2>Desc: {{i.description}}</h2>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h2>Price: {{i.price}} </h2>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'><u>Edit Item</u></a>
	</div>
	<div class="col-md-1"></div>
</div>


<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'><u>Delete Item</u></a>
	</div>
	<div class="col-md-1"></div>
</div>
</br>



</div>



{% endfor %}
{% endblock %}