<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1> New Menu Item in "{{restaurant.name}}" </h1>

	<form action="{{url_for('createMenuItem', restaurant_id=restaurant.id )}}" method = 'POST'>

		<p>Name:</p>

		<input type='text' size='30' name='name'>

		<p>Description:</p>

		<input type='text' size='30' name='description'>

		<p>Price:</p>

		<input type='number' size='30' name='price'>

		<p>Course:</p>

		<input type='text' size='30' name='course'>

	</br>
</br>
<input type='submit' value='Create'>

<a href = "{{ url_for('getMenu', restaurant_id = restaurant.id)}}"> Cancel </a>
</form>

</body>
</html>